/**/

.wrapper-forecast{
	margin-top: 20px;
}

.wrapper-forecast table img{
	margin-right: 4px;
	margin-top: -6px;	
}

.wrapper-forecast table .radio-visitor{
	margin-left: 3px;
}

.select-fecha{
	margin-bottom: 10px;
}



/* 
 * form login and register styles
*/

.form {
	max-width: 330px;
  	padding: 15px;
  	margin: 0 auto;
  	margin-top: 54px;
}

.form .form-heading,
.form .checkbox {
	margin-bottom: 10px;
}
.form .checkbox {
	font-weight: normal;
}
.form .form-control {
	position: relative;
	height: auto;
  	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  	padding: 10px;
  	font-size: 16px;
}
.form .form-control:focus {
	z-index: 2;
}
.form input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form input[type="password"] {
	/* margin-bottom: 10px; */
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}